.wrapper {
  padding-right: var(--gap-48);

  display: grid;
  gap: var(--gap-48);
}

.header {
  display: grid;
  gap: var(--gap-24);
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.subtitle {
  display: grid;
  a {
    color: var(--color-accent);
    font-weight: 600;
  }
}

.body {
  display: grid;
  gap: var(--gap-32);
}

.form {
  display: grid;
  gap: var(--gap-32);
}

.anotherLogin {
  display: grid;
  gap: var(--gap-16);
}

.passwordField {
  position: relative;
}

.passwordForgot {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 12px;
  color: var(--color-accent);
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8);

  font-size: 14px;

  a {
    color: var(--color-accent);
  }
}
