:root {
  --color-accent: #0c21c1;
  --color-accent-hover: #394cd8;
  --color-accent-dark: #000842;

  --color-warning: #f1c40f;
  --color-info: #3498db;
  --color-success: #2ecc71;
  --color-error: #e74c3c;

  --color-black: #000000;
}
