@import "./colors.scss";
@import "./theme.scss";
@import "./typography.scss";
@import "./border-radius.scss";
@import "./shadows.scss";
@import "./media.scss";
@import "./gaps.scss";

body,
html {
  width: fit-content;
  height: fit-content;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);

  font-family: var(--font-family-base);
  color: var(--text-main);
  font-size: 16px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased; /* Улучшение сглаживания шрифтов */
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

button,
a {
  cursor: pointer;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

svg,
svg * {
  width: 100%;
  height: 100%;

  overflow-clip-margin: content-box;
  vertical-align: middle;
  fill: currentColor;
}
