@use "sass:map";

$breakpoints: (
  phoneSmall: 320,
  phoneLarge: 600,
  tabletPortrait: 768,
  tabletLandscape: 1024,
  desktopSmall: 1280,
  desktopMedium: 1440,
  desktopLarge: 1920,
);

@mixin media-max($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: #{map.get($breakpoints, $breakpoint) - 1}px) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
  }
}

@mixin media-min($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{map.get($breakpoints, $breakpoint)}px) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
  }
}
