:root {
  --bg-main: #fff;
  --bg-main-contrast: #000;
  --bg-second: #f2f2f2;
  --text-main: #000;
  --text-main-contrast: #fff;
  --text-second: #808080;
  --stroke-second: #e5e5e5;
}

[data-theme="dark"] {
  --bg-main: #fff;
  --bg-main-contrast: #000;
  --bg-second: #f2f2f2;
  --text-main: #000;
  --text-main-contrast: #fff;
  --text-second: #808080;
  --stroke-second: #e5e5e5;
}
