.wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.alert {
  margin-bottom: var(--gap-8);
  padding: var(--gap-12);
  width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-8);

  border-radius: var(--radius-8);
  box-shadow: var(--shadow-m);

  position: relative;
}

.success {
  background: var(--color-success);
  color: var(--text-main);
}

.error {
  background: var(--color-error);
  color: var(--text-main);
}

.info {
  background: var(--color-info);
  color: var(--text-main);
}

.warning {
  background: var(--color-warning);
  color: var(--text-main);
}

.closeButton {
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.progressBar {
  height: 3px;

  position: absolute;
  bottom: 0;
  left: 2px;

  background: var(--color-black);
  opacity: 0.2;

  transition: width 0.1s linear;
}
