.wrapper {
  display: grid;
  gap: var(--gap-4);

  position: relative;
}

.label {
  font-size: 14px;
  color: var(--text-main);
}

.inputContainer {
  display: flex;
  align-items: center;

  position: relative;
}

.input {
  padding: var(--gap-12) var(--gap-16);
  width: 100%;

  border-radius: var(--radius-8);
  border: 1px solid var(--stroke-second);
  background: var(--bg-second);

  font-size: 14px;
  color: var(--text-main);
}

.rightAddons {
  display: flex;
  align-items: center;
  gap: var(--gap-4);

  position: absolute;
  right: var(--gap-16);
  top: 50%;
  transform: translateY(-50%);
}

.error {
  position: absolute;
  left: 0;
  top: 100%;

  font-size: 12px;
  color: var(--color-error);
}

.passwordButton {
  width: 16px;
  height: 16px;
}

.passwordIcon {
  &.hidden {
    opacity: 0.5;
  }
}
