@import "@/shared/styles/media.scss";

.wrapper {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  gap: var(--gap-48);
}

.left {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-accent-dark);
  border-top-right-radius: 2% 4%;
  border-bottom-right-radius: 2% 4%;

  img {
    transform: scaleX(-1);
    aspect-ratio: 1.5 / 1;
    width: 60%;

    @include media-max(desktopMedium) {
      width: 70%;
    }
    @include media-max(desktopSmall) {
      width: 80%;
    }
  }
}

.right {
  display: grid;
  gap: var(--gap-48);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--gap-16);

  svg {
    width: 48px;
    height: 48px;

    border-radius: var(--radius-circle);
  }

  span {
    font-size: 24px;
    font-weight: 500;
  }
}
