.wrapper {
  display: grid;
  gap: var(--gap-48);
  padding-right: var(--gap-48);
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.body {
  display: grid;
  gap: var(--gap-32);
}

.form {
  display: grid;
  gap: var(--gap-32);
}

.goBack {
  width: fit-content;
  margin: calc(-1 * var(--gap-16)) auto 0;
  font-size: 14px;
  color: var(--color-accent);
}
