name: lint

on:
  push:
    branches:
      - "*"
    paths:
      - "ncl-frontend/**"
      - "ncl-backend/**"
  pull_request:
    paths:
      - "ncl-frontend/**"
      - "ncl-backend/**"

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    name: lint frontend

    defaults:
      run:
        working-directory: ncl-frontend

    steps:
      - uses: actions/checkout@v4
        with:
          path: ncl-frontend

      - uses: actions/setup-node@v3
        with:
          cache-dependency-path: ncl-frontend/package-lock.json
          node-version: 20.x.x
          cache: npm

      - run: npm ci
      - run: npm run lint:js
      - run: npm run lint:css

  lint-backend:
    runs-on: ubuntu-latest
    name: lint backend

    defaults:
      run:
        working-directory: ncl-backend

    steps:
      - uses: actions/checkout@v4
        with:
          path: ncl-backend

      - uses: actions/setup-node@v3
        with:
          cache-dependency-path: ncl-frontend/package-lock.json
          node-version: 20.x.x
          cache: npm

      - run: npm ci
      - run: npm run lint
